blinker
certifi
charset-normalizer
click
colorama==0.4.6
Flask
flask-mysql-connector
idna
itsdangerous
Jinja2
mariadb
MarkupSafe
mysql-connector-python
numpy
packaging
pandas
pillow
PyMySQL
python-dateutil
python-dotenv
gunicorn
pytz
requests
six
tzdata
urllib3
Werkzeug